name: Deploy to Minikube with Helm

run-name: "[Image-tag- ${{inputs.Tag}}] [event- ${{github.event_name}}]"
on:
  workflow_dispatch:
    inputs:
      Tag:
        description: 'Tag of the image to test'
        required: true
        default: 'rel.25.12.11'

jobs:
  deploy:
    runs-on: self-hosted
    # optional: if you gave your runner a specific label, e.g. minikube
    #runs-on: [self-hosted, minikube]

    env:
      RELEASE_NAME: kannan-aks
      NAMESPACE: default
      IMAGE_REPOSITORY: kannan1809/docker-aishu
      IMAGE_TAG: "rel.25.12.11"
      HELM_CHART_REPO: https://github.com/Aika1804/helm-platform.git
      HELM_CHART_SUBPATH: kannan-aks-image

    steps:
      - name: Checkout app repo
        uses: actions/checkout@v4

      - name: Checkout helm chart repo
        uses: actions/checkout@v4
        with:
          repository: Aika1804/helm-platform
          path: helm-platform

      - name: Ensure Minikube context
        run: |
          kubectl config use-context minikube
          kubectl get nodes

      - name: Deploy with Helm
        working-directory: helm-platform
        run: |
          CHART_PATH="${HELM_CHART_SUBPATH}"
          helm upgrade --install "${RELEASE_NAME}" "${CHART_PATH}" \
            --namespace "${NAMESPACE}" \
            --create-namespace \
            --set image.repository="${IMAGE_REPOSITORY}" \
            --set image.tag="${IMAGE_TAG}"

