name: Testing workflow
run-name: "[Image-tag- ${{inputs.Tag}}] [event- ${{github.event_name}}]"
on:
  workflow_dispatch:
    inputs:
      Tag:
        description: 'Tag of the image to test'
        required: true
        default: 'rel.25.12.11'

jobs:
  test-docker-image:
    name: Test Docker Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Pull Docker image
        run: docker pull ${{ secrets.DOCKER_USERNAME }}/aishu-docker:${{ inputs.Tag }}

      - name: Run tests on Docker image
        run: |
          docker run --rm ${{ secrets.DOCKER_USERNAME }}/aishu-docker:${{ inputs.Tag }} /bin/sh -c "echo 'Running tests...'; exit 0"

